* {
    padding: 0;
    margin: 0;
    background: url("images/Background.jpg") no-repeat;
    color: ghostwhite;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3e3a3a;
    height: 98vh;
}

h1.main_headers {
    margin-bottom: 50px;
    background: transparent;
}

button {
    border: none;
    width: 545px;
    height: 76px;
    margin-bottom: 30px;
    font-size: 25px;
    background: transparent url("images/button1.png") no-repeat;
}

button.send_answer {
    margin-top: 50px;
    color: black;
    border: none;
    width: 545px;
    height: 76px;
    margin-bottom: 30px;
    background: transparent url("images/button3.png") no-repeat;
}

li.listitem {
    font-size: 30px;
    background: transparent;
}


ol.choice_list > li {
    display: flex;
    list-style: none;
    width: 545px;
    height: 76px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: transparent url("images/button1.png") no-repeat;
}


ol.choice_list > li.selected {
    list-style: none;
    width: 545px;
    height: 76px;
    margin-bottom: 30px;
    font-size: 30px;
    background: transparent url("images/button2.png") no-repeat;
}

input {
    list-style: none;
    width: 600px;
    height: 60px;
    margin-bottom: 30px;
    font-size: 30px;
}

div.highscore_div {
    background: transparent;
    list-style-position: inside;
    height: 200px;
    width: 600px;
    overflow: auto;
    margin-bottom: 50px;
}

p {
    margin-bottom: 50px;
    font-size: 30px;
    background: transparent;
}

input{
    background: transparent;
    border: white 1px solid;
}

ul.explanation_list {
    background: transparent;
    width: 600px;
    margin-bottom: 50px;
}

ul.explanation_list > li {
    background: transparent;
}

ol {
    background: transparent;
}
